body {
	margin: 0;
	padding: 0;
	
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: rgb(40,49,54);
	
	background-color: rgb(255,255,255);
}

a {
	text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	
	white-space: nowrap;
	
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	margin: 0 auto;
	width: 1440px;
}

.main-header {
	padding-top: 50px;
	background-color: rgb(238, 238, 238);
}

.button {
	padding: 18px 54px;
	
	font: inherit;
	line-height: 18px;
	
	text-align: center;
	color: rgb(255,255,255);
	vertical-align: middle;
	text-transform: uppercase;
	
	background-color: rgb(251,85,89);
	border: none;
}

.button:hover,
.button:focus {
	background-color: rgb(231,66,70);
}

.button:active {
	background-color: rgb(215,54,58);
	color: rgb(227,115,117);
}

.main-header-logo {
	margin-right: 200px;
	fill: rgb(0,0,0);
}

.main-header-logo:hover,
.main-header-logo:focus {
	fill: rgb(48,48,48);
}

.main-header-logo:active {
	fill: rgb(166,166,166);
}

.main-navigation {
	display: flex;
	align-items: center;
	line-height: 30px;
	color: rgb(0,0,0);
	background-color: rgb(238,238,238);
}

.main-container {
	margin: 0 auto;
	width: 1160px;
}

.site-navigation {
	display: flex;
}

.site-navigation,
.user-navigation {
	margin: 0;
	padding: 0;
	list-style: none;
}

.site-navigation a,
.user-navigation a {
	color: rgb(0,0,0);
	text-transform: uppercase;
}

.site-navigation a {
	margin-right: 50px;
}

.user-navigation {
	margin-left: auto;
}

.site-navigation a:hover,
.user-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:focus {
	color: rgb(251,86,90);
}

.site-navigation a:active,
.user-navigation a:active {
	color: rgb(166,166,166);
}

.slide-title {
	margin: 0;
	padding: 0;
	padding-top: 55px;
	margin-bottom: 28px;
	font-size: 55px;
	line-height: 55px;
	color: rgb(0,0,0);
	max-width: 520px;
}

.slide-text {
	margin: 0;
	padding: 0;
	margin-bottom: 42px;

	max-width: 370px;
}

.slide-1 {
	margin-bottom: 80px;
	background-image: url("../img/slide1.png");
	background-position: top right;
	background-repeat: no-repeat;
	min-height: 415px;
}

.slide-2 {
	display: none;
	
	margin-bottom: 80px;
	background-image: url("../img/slide2.png");
	background-position: top right;
	background-repeat: no-repeat;
	min-height: 415px;
}

.slide-3 {
	display: none;
	
	margin-bottom: 80px;
	background-image: url("../img/slide3.png");
	background-position: top right;
	background-repeat: no-repeat;
	min-height: 415px;
}

.main-header {
	position: relative;
}

.slider-switches {
	margin: 0;
	padding: 0;
	
	position: absolute;
	bottom: 78px;
	left: 50%;
	
	transform: translateX(-50%);
	
	list-style: none;
	
	display: flex;
}

.slider-switch {
	margin: 0;
	margin-right: 15px;
	padding: 0;
}

.slider-switch button {
	position: relative;
	
	width: 18px;
	height: 18px;
	
	border: 0;
	border-radius: 50%;
	
	background-color: rgb(255, 255, 255);
}

.slider-switch .switch-on::after {
	content: "";
	
	position: absolute;
	top: 50%;
	left: 50%;
	
	transform: translate(-50%, -50%);
	
	width: 5px;
	height: 5px;
	
	border: 2px solid rgb(194, 194, 194);
	border-radius: 50%;
}


.offer {
	margin-bottom: 140px;
	
	position: relative;
}

.offer::after {
	content: "";
	
	position: absolute;
	
	width: 1160px;
	height: 3px;
	background-color: rgb(238,238,238);
	
	bottom: -100px;
}

.offer-list {
	margin-bottom: 120px;
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.offer-item {
	width: 300px;
	padding-top: 180px;
}

.offer-item:nth-child(1) {
	background-image: url("../img/illustration-1.jpg");
	background-position: top center;
	background-repeat: no-repeat;
}

.offer-item:nth-child(2) {
	background-image: url("../img/illustration-2.jpg");
	background-position: top center;
	background-repeat: no-repeat;
}

.offer-item:nth-child(3) {
	background-image: url("../img/illustration-3.jpg");
	background-position: top center;
	background-repeat: no-repeat;
}

.offer-item .button {
	padding: 18px 39px;
}

.offer-item:nth-child(2) .button {
	background-color: rgb(0,201,115);
}

.offer-item:nth-child(3) .button {
	background-color: rgb(239,199,73);
}

.offer-item:nth-child(2) .button:hover,
.offer-item:nth-child(2) .button:focus {
	background-color: rgb(0,188,107);
}

.offer-item:nth-child(2) .button:active {
	background-color: rgb(0,170,97);
	color: rgb(77,196,145);
}

.offer-item:nth-child(3) .button:hover,
.offer-item:nth-child(3) .button:focus {
	background-color: rgb(234,180,52);
}

.offer-item:nth-child(3) .button:active {
	background-color: rgb(229,167,34);
	color: rgb(237,194,101);
}

.offer-item h3 {
	margin: 0;
	padding: 0;
	margin-bottom: 26px;
	
	text-transform: uppercase;
}

.offer-item p {
	margin: 0;
	padding: 0;
	margin-bottom: 35px;
}

.description {
	margin-bottom: 125px;
	display: flex;
	justify-content: space-between;
}

.description-text {
	padding-top: 40px;
	width: 655px;
}

.description-text h2 {
	margin: 0;
	margin-bottom: 35px;
	font-size: 45px;
	line-height: 43px;
}

.description-text p {
	margin: 0;
	margin-bottom: 47px;
}

.description-text h3 {
	margin: 0;
	margin-bottom: 35px;
	
	text-transform: uppercase;
}

.description-table caption {
	margin-bottom: 49px;
	
	font-weight: bold;
	
	text-transform: uppercase;
}

.description-table .first-row {
	padding-bottom: 27px;
	padding-right: 30px;
	
	font-size: 45px;
	line-height: 43px;
	font-weight: bold;
}

.possibilities-list {
	list-style: none;
}

.possibilities-list li {
	margin-bottom: 30px;
	
	position: relative;
}

.possibilities-list li::before {
	content: "";
	
	position: absolute;
	
	height: 3px;
	width: 25px;
	
	left: -35px;
	top: 8px;
	
	background-color: rgb(251,85,89);
}

.description-table {
	padding-top: 250px;
	width: 360px;
	background-image: url("../img/nerds-illustration.jpg");
	background-position: top center;
	background-repeat: no-repeat;
}

.clients {
	margin-bottom: 130px;
	
	position: relative;
}

.clients-list::before {
	content: "";
	
	position: absolute;
	
	height: 2px;
	width: 1160px;
	
	top: -45px;
	
	background-color: rgb(238,238,238);
}

.clients-list::after {
	content: "";
	
	position: absolute;
	
	height: 2px;
	width: 1160px;
	
	bottom: -40px;
	
	background-color: rgb(238,238,238);
}

.clients-list {
	list-style: none;
	display: flex;
	justify-content: space-around;
}

.clients-list li {
	width: 210px;
}

.right-decoration {
	position: relative;
}

.right-decoration a::before {
	content: "";
	
	position: absolute;
	
	height: 52px;
	width: 2px;
	
	top: 10px;
	left: 235px;
	
	background-color: rgb(238,238,238);
}

.clients-list a {
	opacity: 0.5;
}

.clients-list a:hover,
.clients-list a:focus {
	opacity: 1;
}

.clients-list a:active {
	opacity: 0.2;
}

.social-list {
	margin-right: 140px;
	width: 270px;
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.contacts-name {
	display: block;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 30px;
}

.contacts-adress {
	display: block;
	margin-bottom: 20px;
}

.contacts-phone {
	display: block;
	margin-bottom: 35px;
}

.write-us-button {
	padding: 18px 30px;
}

.footer-map {
	margin-bottom: 70px;
	padding-top: 55px;
	min-height: 415px;
	background-image: url("../img/map.png");
	background-position: center center;
	background-repeat: no-repeat;
}

.footer-contacts {
	box-sizing: border-box;
	margin: 0;
	margin-left: 140px;
	padding: 55px;
	padding-bottom: 45px;
	width: 320px;
	width: 310px;
	background-color: rgb(255,255,255);
}

.footer-social {
	display: flex;
}

.footer-social p {
	width: 550px;
}

.social-list {
	margin: 0;
	margin-right: 140px;
	display: flex;
	width: 260px;
	justify-content: space-between;
}

.vk-icon {
	background-image: url("../img/vk-icon.svg");
	background-position: center center;
	background-repeat: no-repeat;
}

.fb-icon {
	background-image: url("../img/fb-icon.svg");
	background-position: center center;
	background-repeat: no-repeat;
}

.insta-icon {
	background-image: url("../img/insta-icon.svg");
	background-position: center center;
	background-repeat: no-repeat;
}

.social-button {
	display: block;
	
	width: 80px;
	height: 80px;
	
	background-color: rgb(225,225,225);
	
	border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
	background-color: rgb(231,66,70);
}

.vk-icon:active {
	background-color: rgb(215,54,58);
	background-image: url("../img/vk-icon-active.svg");
}

.fb-icon:active {
	background-color: rgb(215,54,58);
	background-image: url("../img/fb-icon-active.svg");
}

.insta-icon:active {
	background-color: rgb(215,54,58);
	background-image: url("../img/insta-icon-active.svg");
}

.social-friendship {
	display: block;
	margin-bottom: 15px;
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
}

/* Стили для каталога */

.filter-form ul,
.catalog-sort ul,
.catalog-list,
.pagination-list
 {
	margin: 0;
	padding: 0;
	list-style: none;
}

.catalog-header {
	margin-bottom: 60px;
}

.catalog-header h1 {
	margin: 0;
	padding: 0;
	padding-top: 100px;
	min-height: 160px;
	font-size: 55px;
	line-height: 55px;
	color: rgb(0,0,0);
	text-align: center;
	background-color: rgb(238, 238, 238);
}

.catalog-wrapper {
	display: flex;
	justify-content: space-between;
}

.catalog-filter {
	width: 261px;
}

.filter-form fieldset {
	border: none;
}

.price-range,
.filter-price-low,
.filter-price-high {
	background-color: rgb(237, 237, 237);
}

.filter-form legend {
	display: block;
	
	margin: 0;
	margin-bottom: 21px;
	padding: 0;
	
	font-size: 18px;
	line-height: 30px;
	color: rgb(0,0,0);
	font-family: "Roboto";
	font-weight: bold;
	
	text-transform: uppercase;
}

.filter-form legend:first-of-type {
	margin-bottom: 56px;
}

.price-range {
	margin-bottom: 13px;
	position: relative;
	
	width: 261px;
	height: 81px;
}

.price-range::before {
	z-index: 1;
	
	content: "";
	
	position: absolute;
	margin-top: -1px;
	
	width: 219px;
	height: 2px;
	
	top: 50%;
	left: 20px;
	
	background-color: rgb(215, 220, 222);
}

.price-range::after {
	z-index: 2;
	
	content: "";
	
	position: absolute;
	margin-top: -1px;
	
	width: 152px;
	height: 2px;
	
	top: 50%;
	left: 20px;
	
	background-color: rgb(0, 203, 116);
}

.price-range-bottom,
.price-range-top {
	z-index: 3;
	
	position: absolute;
	top: 50%;
	margin-top: -10px;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 20px;
	height: 20px;
	border-radius: 50%;
	
	background-color: rgb(255, 255, 255);
}

.price-range-bottom div,
.price-range-top div {
	width: 3px;
	height: 3px;
	
	border-radius: 50%;
	
	background-color: rgb(172, 172, 172);
}

.price-range-bottom {
	left: 20px;
}

.price-range-top {
	left: 160px;
}

.price-range-wrapper {
	display: flex;
	align-items: center;
	
	margin-bottom: 62px;
}

.filter-price-low,
.filter-price-high {
	margin-left: 11px;
	padding-top: 13px;
	padding-bottom: 13px;
	
	width: 80px;
	
	text-align: center;
}

.filter-price-top {
	margin-left: 43px;
}

.filter-price-bottom,
.filter-price-top {
	text-transform: uppercase;
}

.filter-option {
	margin-bottom: 15px;
	
	position: relative;
}

.filter-option input[type="radio"],
.filter-option input[type="checkbox"] {
	opacity: 0;
}

.filter-input + label {
	opacity: 0.5;
}

.filter-input:hover + label,
.filter-input:focus + label,
.filter-input:checked + label {
	opacity: 1;
}

.filter-input:disabled + label,
.filter-input:disabled + label {
	opacity: 0.2;
}


.filter-option label {
	margin-left: 10px;
}

.label-type-radio::before {
	content: "";
	
	display: block;
	
	position: absolute;
	top: -1px;
	left: -2px;
	
	width: 25px;
	height: 25px;
	
	background-image: url("../img/radio-off.svg");
	background-repeat: no-repeat;
	background-position: center center;
}

input[type="radio"]:checked + .label-type-radio::before {
	content: "";
	
	display: block;
	
	position: absolute;
	top: -1px;
	left: -2px;
	
	width: 25px;
	height: 25px;
	
	background-image: url("../img/radio-on.svg");
	background-repeat: no-repeat;
	background-position: center center;
}

.label-type-checkbox::before {
	content: "";
	
	display: block;
	
	position: absolute;
	top: -1px;
	left: -2px;
	
	width: 25px;
	height: 25px;
	
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
	background-position: center center;
}

input[type="checkbox"]:checked + .label-type-checkbox::before {
	content: "";
	
	display: block;
	
	position: absolute;
	top: -1px;
	left: -2px;
	
	width: 25px;
	height: 25px;
	
	background-image: url("../img/checkbox-on.svg");
	background-repeat: no-repeat;
	background-position: center center;
}

.catalog-filter-button {
	padding-top: 19px;
	padding-bottom: 18px;
	width: 100%;
	
	border: none;
	
	background-color: rgb(237,237,237);
	
	font-size: 16px;
	line-height: 18px;
	color: rgb(0,0,0);
	font-family: "Roboto";
	text-align: center;
	text-transform: uppercase;
}

.catalog-filter-button:hover,
.catalog-filter-button:focus {
	background-color: rgb(223,223,223);
}

.catalog-filter-button:active {
	background-color: rgb(213,213,213);
	color: rgb(149,149,149);
}

.catalog {
	width: 760px;
}

.catalog-sort {
	margin-bottom: 57px;
	
	display: flex;
	justify-content: space-between;
}

.sort-type-triangle {
	margin-left: 18px;
	
	opacity: 0.5;
}

.sort-type-triangle:hover {
	opacity: 0.8;
}

.sort-type-triangle:active,
.sort-type-triangle:focus {
	opacity: 1;
}

.sort-type {
	margin: 0;
	padding: 0;
	margin-right: 26px;
	
	border: none;
	background-color: rgb(255,255,255);
	
	font-size: 14px;
	line-height: 18px;
	color: rgba(0,0,0,0.5);
	font-family: "Roboto";
	text-transform: uppercase;
}

.sort-type:hover {
	color: rgba(0,0,0,0.8);
}

.sort-type:active,
.sort-type:focus,
.sort-type-active {
	color: rgba(0,0,0,1);
}

.catalog-sort p {
	margin: 0;
	padding: 0;
	font-size: 18px;
	line-height: 18px;
	color: rgb(0,0,0);
	font-weight: bold;
}

.catalog-sort ul {
	display: flex;
}

.catalog-list {
	margin-bottom: 60px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.catalog-card {
	margin: 0;
	padding-top: 40px;
	width: 360px;
	
	background-image: url("../img/browser-light.svg");
	background-position: top center;
	background-repeat: no-repeat;
}

.catalog-card:hover,
.catalog-card:focus {
	background-image: url("../img/browser.svg");
}

.catalog-item {
	margin-bottom: 33px;
	
	position: relative;
}

.catalog-item-label {
	display: none;
	
	position: absolute;
	
	transform: translateY(-100%);
	
	margin: 0;
	padding: 0;
	padding-top: 35px;
	
	width: 360px;
	
	text-align: center;
	
	background-color: rgb(238,238,238);
}

.catalog-item-label:hover {
	display: block;
}

.catalog-card:hover + .catalog-item-label,
.catalog-card:focus + .catalog-item-label {
	display: block;
}

.catalog-item-name {
	margin: 0;
	margin-bottom: 35px;
	padding: 0;
	font-size: 18px;
	line-height: 30px;
	color: rgb(0,0,0);
	font-weight: bold;
}

.catalog-item-description {
	margin: 0;
	margin-bottom: 30px;
	padding: 0;
	line-height: 18px;
	color: rgb(102,102,102);
}

.catalog-item img {
	vertical-align: middle; /*лечим отступ снизу.
	Картинки по умолчанию — строчные элементы и выравниваются по базовой линии текста,
	а базовая линия проходит несколько выше, чем нижний край блока — ведь еще резервируется
	место под «хвостики» букв. Для того, чтобы отступ пропал, достаточно (на выбор) прописать
	для img или display:block или vertical-align:top/middle/bottom.*/
}

.catalog-item-button {
	margin-bottom: 43px;
	
	width: 200px;
	height: 50px;
	
	border: none;
	
	background-color: rgb(251,85,89);
	
	font-size: 16px;
	line-height: 18px;
	color: rgb(255,255,255);
	font-family: "Roboto";
	text-align: center;
}

.catalog-item-button:hover,
.catalog-item-button:focus {
	background-color: rgb(231,66,70);
}

.catalog-item-button:active {
	background-color: rgb(215,54,58);
}

.pagination-list {
	margin-bottom: 60px;
	display: flex;
}

.pagination-item:not(:nth-child(1)) {
	margin-left: 10px;
}

.pagination-item a {
	display: table-cell;
	
	width: 50px;
	height: 50px;
	
	color: rgb(0,0,0);
	text-align: center;
	vertical-align: middle;
	
	background-color: rgb(237,237,237);
}

.pagination-item a:hover,
.pagination-item a:focus {
	background-color: rgb(223,223,223);
}

.pagination-item a:active {
	background-color: rgb(213,213,213);
}

.pagination-item-current a {
	width: 44px;
	height: 44px;
	
	border: 3px solid rgb(237,237,237);
	
	background-color: rgb(255,255,255);
}

.pagination-item-next a {
	width: 260px;
}

/*стили модального (всплывающего) окошка*/

.write-us {
	display: none;
	
	position: fixed;
	bottom: 180px;
	left: 50%;
	transform: translateX(-50%);
	
	width: 760px;
	
	padding-top: 73px;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 84px;
	
	background-color: rgb(255, 255, 255);
	
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-show {
	display: block;
}

.write-us h2 {
	margin: 0;
	margin-bottom: 49px;
	padding: 0;
	
	font-size: 45px;
	line-height: 45px;
}

.write-us-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.write-us-form p {
	margin: 0;
	padding: 0;
	
	display: flex;
	flex-direction: column;
}

.write-us-form label {
	margin-bottom: 12px;
	
	font-weight: bold;
}

.write-us-form textarea {
	width: 760px;
	height: 118px;
	
	margin-bottom: 47px;
}

.write-us-form input[type="text"],
.write-us-form input[type="email"] {
	width: 360px;
	height: 50px;
	
	margin-bottom: 36px;
}

.write-us-form input[type="text"],
.write-us-form input[type="email"],
.write-us-form textarea {
	box-sizing: border-box;
	
	padding: 15px;
	font-family: inherite;
	font-size: 16px;
	line-height: 20px;
	color: rgb(68,68,68);
	
	border: 2px solid #d7dbdd;
}

.write-us-form input[type="text"]:hover,
.write-us-form input[type="email"]:hover,
.write-us-form textarea:hover {
	border: 2px solid #b3b8bb;
}

.write-us-form input[type="text"]:focus,
.write-us-form input[type="email"]:focus,
.write-us-form textarea:focus {
	border: 2px solid #000;
}

.write-us-form input[type="text"]:invalid,
.write-us-form input[type="email"]:invalid,
.write-us-form textarea:invalid {
	color: rgb(231,66,70);
	
	border: 2px solid #e74145;
}

.write-us-close {
	border: none;
	background-color: rgb(255,255,255);
	background-image: url("../img/close-cross.svg");
	background-position: center center;
	background-repeat: no-repeat;
	opacity: 0.5;
	
	width: 21px;
	height: 21px;
	
	font-size: 0;
	
	position: absolute;
	top: 78px;
	right: 90px;
}

.write-us-close:hover,
.write-us-close:focus {
	opacity: 1;
}

.write-us-close:active {
	opacity: 0.2;
}

.write-us-send-button {
	width: 260px;
	height: 50px;
	
	border-radius: 2px;
}

